#tabuleiro  button {
    height: 100px;
    width: 100px;
    color: black;
}

.borderTopNone {
    border-top: none;
}

.borderBottomNone {
    border-bottom: none;
}

.borderLeftNone {
    border-left: none;
}

.borderRightNone {
    border-right: none;
}

#tabuleiro button {
    border: 2px solid black;
}

.reiniciar {
    margin: 20px;
}

#btReiniciar {
    /*align-items: center;*/
    display: none;
}