<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <% title %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <h2> Jogo da Velha</h2>
                <a id="link" href="" type="button" class="btn btn-info" role="button">Iniciar Jogo</a>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://gitlab.com/blastin/jogodavelha-typescript">@blastin</a>
    </div>

</div>
<script>
    const resposta = JSON.parse('<%- JSON.stringify(response) %>'); // EJS -> JS
    let href = location.href;
    const elemento = document.getElementById("link");
    href = href.replace("iniciar-jogo", resposta.router);
    elemento.setAttribute("href", href);
</script>
</body>
</html>