<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%- title %>
    </title>
    <link rel="icon" href="/img/iconSite.jpg">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/jogodavelha.js"></script>
    <script src="/js/tela.js"></script>
    <script src="/js/storage.js"></script>
    <script src="/js/jogador.js"></script>
    <script src="/js/brasao.js"></script>
    <script src="/js/tratar_protocolos.js"></script>
    <script src="/js/requisicoes.js"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b11a8e3b1038b7a"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>

<body>
<div class="container-fluid">
    <h1 align="center">Jogo Da Velha</h1>
    <div align="center" id="share" class="addthis_inline_share_toolbox" data-url=""></div>
    <h2 class="text-success" align="center" id="status">Status</h2>
    <div class="reiniciar" align="center">
        <button id="btReiniciar" type="button" class="btn btn-info" onclick="jogodavelha.reiniciar()">Reiniciar</button>
    </div>
    <div>
        <table align="center" id="tabuleiro">
            <tr>
                <td>
                    <button id="bt1" type="button" class="btn btn-outline-secondary"
                            style="border-left: none; border-top: none;"
                            onclick="jogodavelha.jogada(1)"></button>
                </td>
                <td>
                    <button id="bt2" type="button" class="btn btn-outline-secondary" style="border-top: none;"
                            onclick="jogodavelha.jogada(2)"></button>
                </td>
                <td>
                    <button id="bt3" type="button" class="btn btn-outline-secondary"
                            style="border-right: none; border-top: none;"
                            onclick="jogodavelha.jogada(3)"></button>
                </td>
            </tr>
            <tr>
                <td>
                    <button id="bt4" type="button" class="btn btn-outline-secondary" style="border-left: none;"
                            onclick="jogodavelha.jogada(4)"></button>
                </td>
                <td>
                    <button id="bt5" type="button" class="btn btn-outline-secondary"
                            onclick="jogodavelha.jogada(5)"></button>
                </td>
                <td>
                    <button id="bt6" type="button" class="btn btn-outline-secondary" style="border-right: none;"
                            onclick="jogodavelha.jogada(6)"></button>
                </td>
            </tr>
            <tr>
                <td>
                    <button id="bt7" type="button" class="btn btn-outline-secondary"
                            style="border-left: none; border-bottom: none;"
                            onclick="jogodavelha.jogada(7)"></button>
                </td>
                <td>
                    <button id="bt8" type="button" class="btn btn-outline-secondary" style="border-bottom: none;"
                            onclick="jogodavelha.jogada(8)"></button>
                </td>
                <td>
                    <button id="bt9" type="button" class="btn btn-outline-secondary"
                            style="border-bottom: none; border-right: none;"
                            onclick="jogodavelha.jogada(9)"></button>
                </td>
            </tr>
        </table>
    </div>
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://gitlab.com/blastin/jogodavelha-typescript">@blastin</a>
    </div>
</div>
<script>
    const resposta = JSON.parse('<%- JSON.stringify(response) %>'); // EJS -> JS
    const adversario = JSON.parse('<%- JSON.stringify(adversario) %>'); // EJS -> JS
    const jogodavelha = new JogoDaVelha(resposta);
    let href = location.href + Storage.receberSessao();
    href = href.replace("novo-jogo", "iniciar-jogo");
    const elemento = document.getElementsByClassName("addthis_inline_share_toolbox");
    if (adversario === true) {
        elemento[0].style.display = "none";
    } else {
        elemento[0].setAttribute("data-url", href);
    }
</script>

</body>

</html>
